parameters:
    ignoreErrors:
        -
            message: "#^There are 2 way to get (.*) value: public property and getter now - pick one to avoid variant behavior\\.$#"
            count: 3
            path: ../Classes/Domain/Model/Product.php
